web/client/product/assets/img/
web/client/product/assets/img/**
web/client/assets/img/
web/client/assets/img/**
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
# Ignore files that currently cause Prettier CI failures
web/client/configs/localConfig.json
gis-api/package.json
